<div class="mt-4">
    <h3>Đăng khóa học</h3>

        <form method="POST" action="/courses/store">
            <div class="form-group">
                <label for="name" class="form-label">Coure Name</label>
                <input type="text" class="form-control" id="name" name="name">
                
            </div>
            <div class="form-group">
                <label for="description" class="form-label">introduce about the course</label>
                <input type="text" class="form-control" id="description" name="description">
                
            </div>
            <div class="form-group">
                <label for="videoId" class="form-label">videoId</label>
                <input type="text" class="form-control" id="videoId" name="videoId">
                
            </div>
            <div class="form-group">
                <label for="level" class="form-label">level</label>
                <input type="text" class="form-control" id="level" name="level">
                
            </div>
            <button  type="submit" class="btn btn-primary"> Add Course</button>
        </form>
</div>